.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
}

.rates {
  display: flex;
  flex-wrap: wrap;
}

.currency-item {
  width: 400px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: row;
  align-items: baseline;
  margin-right: 25px;
  border: 1px solid transparent;
}

.selected {
  border: 1px solid #595959;
}

.cached {
  background-color: #2b2b2b;
}

.negative {
  color: #910303 !important;
}

.positive {
  color: #00ac00 !important;
}

.name {
  color: #979797;
  font-size: 10pt;
}

.currency {
  font-size: 40pt;
}

.rate {
  font-size: 25pt;
  flex-grow: 1;
}

.delta {
  flex-grow: 0;
  font-size: 16pt;
  color: #595959;
}
