@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/* You can add global styles to this file, and also import other style files */
html {
  background-color: #252525;
  color: #d4d4d4;
}
